.jumbotron {
	background: url('../images/downtown.jpg');
	background-size: cover;
}

.jumbotron nav {
	background-color: rgba(white, 0.7);
	text-align: center;
}

.site-title {
	font-family: 'Dancing Script', cursive;
	font-weight: 700;
	@include rem(font-size, 3);
	color: $navy;
	@include rem(font-size, 2);
	@include rem(padding, 0.5);
	@media screen and (min-width: $medium) {
		@include rem(font-size, 2.5);
		@include rem(padding, 0.75);
	}
	@media screen and (min-width: $wide) {
		@include rem(font-size, 3.5);
		@include rem(padding, 1);
	}
}

.jumbotron > .container {
	width: 40%;
	background-color: rgba(black, 0.6);
}

.jumbotron h2 {
	@include rem(font-size, 2.5);
	color: yellow;
}

.jumbotron p {
	@include rem(font-size, 1.2);
	@include rem(line-height, 2);
	color: white;
}