#page-wrap, #signup-modal {
	transition: all -.4s ease;
}

.signup-form-wrap {
	margin: 0 auto;
	max-width: 600px;
	@include rem(padding, 0 1);
}

#signup-modal {
	background: $navy;
	position: fixed;
	transform: scale(1.5);
	opacity: 0;
	pointer-events: none;
	color: white;
	font-weight: $light;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	@media screen and (min-width: $medium) {
		border-radius: 10px;		
		width: 90%;
		top: 10%;
		left: 10%;
		margin: -5% 0 0 -5%;
	}
	@media screen and (min-width: $wide) {
		width: 75%;
		top: 25%;
		left: 25%;
		margin: -12.5% 0 0 -12.5%;
	}
	@media screen and (min-width: $extrawide) {
		width: 50%;
		top: 50%;
		left: 50%;
		margin: -25% 0 0 -25%;
	}
}

.dialogIsOpen #page-wrap {
	opacity: 0.4;
}

.dialogIsOpen #signup-modal {
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
}

#signup-modal h2 {
	color: $yellow;
}

#signup-modal .text-wrap {
	width: 49%;
	margin: 0;
}

#signup-modal .text-wrap:nth-child(2) {
	float: left;
}
#signup-modal .text-wrap:nth-child(3) {
	float: right;
}

#signup-modal .text-wrap input, #signup-modal .spam-wrap input {
	color: $gray;
	@include rem(margin-top, 1);
	@include rem(font-size, 1);
	@include rem(padding, 0.3);
	@media screen and (min-width: $medium) {
		@include rem(margin-top, 1);
		@include rem(font-size, 1.2);
		@include rem(padding, 0.5);
	}
}

#signup-modal p {
	clear: both;
	@include rem(padding, 1 0);	
	@include rem(font-size, 1);
	@media screen and (min-width: $medium) {
	@include rem(font-size, 1.5);
	}
}

#signup-modal label {
	font-weight: $light;
	line-height: 1.5;
	@media screen and (min-width: $medium) {
		@include rem(font-size, 1.5);
	}
}

#signup-modal .spam-wrap label {
//	@include rem(font-size, 1);
}

#signup-modal .checkbox-wrap input[type="checkbox"] {
	@include rem(height, 1);
	@include rem(width, 1);
}

#signup-modal input {
	border: none;

}

.ninja-forms-required-items {
	display: none;
}

#signup-modal .submit-wrap {
	text-align: center;
}

#signup-modal .submit-wrap input {
	background-color: $blue;
	color: white;
	@include rem(font-size, 1);
	border: 0;
	border-radius: 5px;
	@include rem(padding, 0.5 1);
	@media screen and (min-width: $medium) {
		@include rem(font-size, 1.5);
		border-radius: 5px;
		@include rem(padding, 1 2);
	}
}

.ninja-forms-field-error, .ninja-forms-response-msg {
	color: $yellow;
	@include rem(font-size, 1);
}