.testimonial {
	max-width: 50%;
	float: left;
	color: white;
}

.testimonial figure {
	display: inline-block;
}

.testimonial figcaption {
	text-align: center;
}

.testimonial img {
//	float: left;
}

.media-left {
	width: 30%;
	float: left;
}

.media-body {
	width: 70%;
	float: left;
}