.testimonial {
	color: white;
//	@include rem(letter-spacing, 0.02);
	line-height: 1.5;
	@media screen and(min-width: $medium) {
		max-width: 50%;
		float: left;
		color: white;
	}
}

.testimonial-section {
	margin: 0 auto;
	max-width: $max-width;
}

.testimonial figure {
	display: inline-block;
	@include rem(padding, 0 1 1 1);
	@media screen and (min-width: $wide) {
	}
}

.testimonial figcaption {
	text-align: center;
	@media screen and (min-width: $wide) {
		@include rem(padding-top, 0.5);
	}
}

.testimonial img {
//	float: left;
}

.media-left {
	@media screen and (min-width: $wide) {
		width: 40%;
		float: left;
	}
//	width: 30%;
}

.media-body {
	@include rem(padding, 0 1 1 1);
	font-weight: $light;
	@media screen and (min-width: $wide) {
		@include rem(padding, 0 1 1 0);
		@include rem(font-size, 1.2);
		float: left;
		width: 60%;
	}
//	width: 70%;
//	float: left;
}