@import "reset";
@import "bits";
@import "header";
@import "testimonial";
@import "typography";

html {
	font-size: 16px;
	height: 100rem;
}

body {
	background-color: $navy;
}

img {
	max-width: 100%;
}